<div class="hero-body">
  <div class="container has-text-centered">
    <div class="columns is-variable is-centered">
      <%= render "form" %>
    </div>
    <% unless params[:query].nil? %>
      <div class="columns is-variable is-centered">
        <% if @photos.blank? %>
          <p class="subtitle">No images were found.</p>
        <% else %>
          <div class="gap-8px is-flex is-flex-wrap-wrap">
            <% @photos.each do |photo| %>
              <img src="<%= "https://live.staticflickr.com/#{photo.server}/#{photo.id}_#{photo.secret}_n.jpg" %>" alt="An image from Flickr">
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>